<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Funcionarios</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Email</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let funcionario of funcionarios | async">
          <td>{{funcionario.nome}}</td>
          <td>{{funcionario.sobrenome}}</td>
          <td>{{funcionario.email}}</td>
          <td><button (click)="deleteFuncionario(funcionario.id)" class="btn btn-danger">Delete</button>
              <button (click)="funcionarioDetalhes(funcionario.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
